<div id="page_wrapper">
  <div id="profile_image">
  	<%= image_tag "profile.png" %>
  </div>

  <div id="content">
  	<h1>Hey, I'm Alisson Patrick</h1>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/AlissonPMedeiro">@AlissonPMedeiro</a> 
	</div>
</div>

  </div>
</div>